doctype html
html(lang='ro')
    include includes/head.jade
    body.it.layout-8.page-23
        include includes/top-menu.jade

        style(type='text/css').
            @media screen and (min-width: 1200px)
            {
            .header-image {
            background: transparent url("/it/images/lg/banner-home-836-1.jpg") no-repeat scroll center center;
            background-size: cover;
            }
            }
            @media screen and (max-width: 1199px)
            {
            .header-image {
            background: transparent url("/it/images/lg/banner-home-836-1.jpg") no-repeat scroll center center;
            background-size: cover;
            }
            }
            @media screen and (max-width: 991px)
            {
            .header-image {
            background: transparent url("/it/images/lg/banner-home-836-1.jpg") no-repeat scroll center center;
            background-size: cover;
            }
            }
            @media screen and (max-width: 767px)
            {
            .header-image {
            background: transparent url("/it/images/lg/banner-home-836-1.jpg") no-repeat scroll center center;
            background-size: cover;
            }
            }


        .cms-page.with-background.corporate
            .box.image.header-image
                .text.center
                    div
                        h1.h1.roboto(data-target='.content-1') Corporate
                        h1.h1.roboto.h1-off(data-target='.content-2', style='margin-left: 20px;') Timeline
                    .content-1
                        h2 Cine suntem
                        p
                            | Din anul 1963 Mottura se ocupă de decorarea ferestrelor, întai ca producător de mantovane din lemn, 
                            | apoi ca protagonist la 360 grade în acest sector, datorită unui program tehnologic constant cu avangarda 
                            | (dezvoltat în ultimii 20 de ani), care are un singur obiectiv: să ofere specialiștilor din acest domeniu 
                            | soluția tehnologica cea mai potrivită pentru fiecare tip de aplicație. Tehnologia trasferată apoi, în cursul 
                            | ultimului deceniu, societăților tehnice și certificată prin numeroase brevete industriale europene, au dat 
                            | astfel mărcii Mottura o rezonanța internațională. Mottura a dezvoltat în paralel cu propria sa activitate 
                            | preponderent tehnologică și aspectul tehnico-creativ al sistemelor pentru perdele: Linia Decorativă, care s-a 
                            | născut în anii saizeci, cuprinde azi o gamă care depășește o mie de soluții diferite. Ca urmare, în primii ani 
                            | din nouăzeci, ca o completare a acestei strategii, a fost creat Atelierul Mottura: un atelier textil de înalta 
                            | calitate care oferă mărcii Mottura o prezenţă semnificativă în acest sector important.
                            br
                            br
                        h2 Mottura astazi
                        p
                            | Mottura este astăzi o societate cunoscută la nivel mondial și este universal recunoscută ca una din cele mai bune 
                            | expresii industriale italiene din domeniu. Avem 4 sedii operative în Europa și suntem prezenți în mai mult de 70 
                            | de țări din lume cu un serviciu punctual de asistenţă pre și post vănzare. Produsele noastre sunt adesea preferate de 
                            | designeri și arhitecți care iși încredinţează profesionalismul în sistemele noastre. Colaborăm în toată Europa pentru 
                            | realizări arhitectonice prestigioase care pun în lumină produsul nostru și îi ridică calitatea. Investim constant în 
                            | inovație, căutând soluții exclusive care sunt îndreptate către prestări mai bune, oferind acea valoare reala adăugată 
                            | care distinge produsul de calitate față de produsul de masă. Lucrăm pentru a furniza specialiștilor noștri instrumentele 
                            | de comunicare cele mai potrivite pentru a sugera cea mai bună soluție tehnologică. Este o implicare zilnică de-a noastra 
                            | să parcurgem drumuri și mai grele, făcând din satisfacția clientului nostru sfârşitul acțiunii noastre.
                        div(style='margin-top:20px;text-align:center')
                            img.pointer.lora.italic.md-trigger(style='max-width:100%;', data-modal='modal-23', src='/templates/images/frontend/video-corporate-500.jpg', title='Video', alt='Video')
                        #modal-23.md-modal.md-effect-1.md-big
                            .md-content
                                div
                                    // <button class="md-close">Close me!</button>
                                    button.md-close
                                        i.fa.fa-times-circle.fa-2x
                                    iframe.youtube(width='902', height='507', src='https://www.youtube.com/embed/0wDX7TXd-WE', frameborder='0', allowfullscreen='')
                    .content-2(style='display: none;')
                        h2.pt-serif(style='text-transform: none;') Tehnologie și creativitate
                        #timeline(style='width: 1002px;')
                            div(style="background: #01333c url('/templates/images/frontend/timeline/dot.gif') no-repeat scroll center 74px;")
                                ul#dates(style='width: 1640px; margin-left: 451px;')
                                    li
                                        a.selected(href='#1963') 1963
                                    li
                                        a(href='#1977') 1977
                                    li
                                        a(href='#1983') 1983
                                    li
                                        a(href='#1987') 1987
                                    li
                                        a(href='#1989') 1989
                                    li
                                        a(href='#1991') 1991
                                    li
                                        a(href='#1992') 1992
                                    li
                                        a(href='#1997') 1997
                                    li
                                        a(href='#1998') 1998
                                    li
                                        a(href='#2000') 2000
                                    li
                                        a(href='#2002') 2002
                                    li
                                        a(href='#2007') 2007
                                    li
                                        a(href='#2009') 2009
                                    li
                                        a(href='#2010') 2010
                                    li
                                        a(href='#2014') 2014
                                    li
                                        a(href='#2015') 2015
                            ul#issues(style='width: 16032px; margin-left: 0px;')
                                li#1963.selected(style='width: 1002px; opacity: 1;')
                                    .row
                                        .col-xs-16.col-sm-8
                                            img.img-responsive(src='/templates/images/frontend/timeline/1963.png')
                                        .col-xs-16.col-sm-8.center
                                            p Inființarea societății la Torino
                                li#1977(style='width: 1002px; opacity: 0.2;')
                                    .row
                                        .col-xs-16.col-sm-8
                                            img.img-responsive(src='/templates/images/frontend/timeline/1977.png')
                                        .col-xs-16.col-sm-8.center
                                            p Deschiderea sediului principal din San Giusto Canavese
                                li#1983(style='width: 1002px; opacity: 0.2;')
                                    .row
                                        .col-xs-16.col-sm-8
                                            img.img-responsive(src='/templates/images/frontend/timeline/1983.png')
                                        .col-xs-16.col-sm-8.center
                                            p Începutul producției de sisteme de aluminiu
                                li#1987(style='width: 1002px; opacity: 0.2;')
                                    .row
                                        .col-xs-16.col-sm-8
                                            img.img-responsive(src='/templates/images/frontend/timeline/1987.png')
                                        .col-xs-16.col-sm-8.center
                                            p Prezentarea noilor sisteme de tip rulou Slow cu brevet european
                                li#1989(style='width: 1002px; opacity: 0.2;')
                                    .row
                                        .col-xs-16.col-sm-8
                                            img.img-responsive(src='/templates/images/frontend/timeline/1989.png')
                                        .col-xs-16.col-sm-8.center
                                            p Deschiderea Mottura España S.A. si Mottura NV, Belgia
                                li#1991(style='width: 1002px; opacity: 0.2;')
                                    .row
                                        .col-xs-16.col-sm-8
                                            img.img-responsive(src='/templates/images/frontend/timeline/1991.png')
                                        .col-xs-16.col-sm-8.center
                                            p
                                                | Deschiderea la sediul din San Giusto a departamentului de ştanţare pentru producţia componentelor din plastic
                                li#1992(style='width: 1002px; opacity: 0.2;')
                                    .row
                                        .col-xs-16.col-sm-8
                                            img.img-responsive(src='/templates/images/frontend/timeline/1992.png')
                                        .col-xs-16.col-sm-8.center
                                            p Ia fiinţă Atelierul Textil Mottura
                                li#1997(style='width: 1002px; opacity: 0.2;')
                                    .row
                                        .col-xs-16.col-sm-8
                                            img.img-responsive(src='/templates/images/frontend/timeline/1997.png')
                                        .col-xs-16.col-sm-8.center
                                            p Mottura S.p.A. obține certificarea ISO 9001
                                li#1998(style='width: 1002px; opacity: 0.2;')
                                    .row
                                        .col-xs-16.col-sm-8
                                            img.img-responsive(src='/templates/images/frontend/timeline/1998.png')
                                        .col-xs-16.col-sm-8.center
                                            p Deschiderea Motura Franţa S.A.R. L.
                                li#2000(style='width: 1002px; opacity: 0.2;')
                                    .row
                                        .col-xs-16.col-sm-8
                                            img.img-responsive(src='/templates/images/frontend/timeline/2000.png')
                                        .col-xs-16.col-sm-8.center
                                            p Extinderea sediului din San Giusto
                                li#2002(style='width: 1002px; opacity: 0.2;')
                                    .row
                                        .col-xs-16.col-sm-8
                                            img.img-responsive(src='/templates/images/frontend/timeline/2002.png')
                                        .col-xs-16.col-sm-8.center
                                            p Reînnoirea globală a liniei de producție în sediul din San Giusto
                                li#2007(style='width: 1002px; opacity: 0.2;')
                                    .row
                                        .col-xs-16.col-sm-8
                                            img.img-responsive(src='/templates/images/frontend/timeline/2007.png')
                                        .col-xs-16.col-sm-8.center
                                            p Introducerea unei noi tehnologii automate în departamentul de producţie a imprimeurilor
                                li#2009(style='width: 1002px; opacity: 0.2;')
                                    .row
                                        .col-xs-16.col-sm-8
                                            img.img-responsive(src='/templates/images/frontend/timeline/2009.png')
                                        .col-xs-16.col-sm-8.center
                                            p Automatizarea producţiei componentelor
                                li#2010(style='width: 1002px; opacity: 0.2;')
                                    .row
                                        .col-xs-16.col-sm-8
                                            img.img-responsive(src='/templates/images/frontend/timeline/2010.png')
                                        .col-xs-16.col-sm-8.center
                                            p O nouă extindere a sediului din San Giusto
                                li#2014(style='width: 1002px; opacity: 0.2;')
                                    .row
                                        .col-xs-16.col-sm-8
                                            img.img-responsive(src='/templates/images/frontend/timeline/2014.png')
                                        .col-xs-16.col-sm-8.center
                                            p Renovarea departamentului pentru producţia sistemelor de tip rulou
                                li#2015(style='width: 1002px; opacity: 0.2;')
                                    .row
                                        .col-xs-16.col-sm-8
                                            img.img-responsive(src='/templates/images/frontend/timeline/2015.png')
                                        .col-xs-16.col-sm-8.center
                                            p Implementarea tehnologiilor pentru tăierea ţesăturilor

        include includes/footer.jade