doctype html
html(lang='ro')
  include includes/head.jade
  body.it.layout-2.page-18
    include includes/top-menu.jade
    .homepage
      .slider-1.slider
        .slick-slide
          picture
            source(src='/it/images/lg/slide-home-codebo.jpg', srcset='/it/images/lg/slide-home-codebo.jpg', media='(min-width: 1200px)')
            source(src='/it/images/lg/slide-home-codebo.jpg', srcset='/it/images/lg/slide-home-codebo.jpg', media='(min-width: 992px)')
            source(src='/it/images/lg/slide-home-codebo.jpg', srcset='/it/images/lg/slide-home-codebo.jpg', media='(min-width: 768px)')
            source(src='/it/images/lg/slide-home-codebo.jpg', srcset='/it/images/lg/slide-home-codebo.jpg', media='(max-width: 767px)')
            img.img-responsive(src='/it/images/lg/slide-home-codebo.jpg', srcset='/it/images/lg/slide-home-codebo.jpg', alt='slide-home-codebo.jpg')
          .container-fluid
            .caption
              .slider-title
                h2.lora.italic
              .slider-subtitle
                h2.upper
              .slider-desc
                h2.upper.bold
        .slick-slide
          picture
            source(src='/it/images/lg/slide-home-topbox-1.jpg', srcset='/it/images/lg/slide-home-topbox-1.jpg', media='(min-width: 1200px)')
            source(src='/it/images/lg/slide-home-topbox-1.jpg', srcset='/it/images/lg/slide-home-topbox-1.jpg', media='(min-width: 992px)')
            source(src='/it/images/lg/slide-home-topbox-1.jpg', srcset='/it/images/lg/slide-home-topbox-1.jpg', media='(min-width: 768px)')
            source(src='/it/images/lg/slide-home-topbox-1.jpg', srcset='/it/images/lg/slide-home-topbox-1.jpg', media='(max-width: 767px)')
            img.img-responsive(src='/it/images/lg/slide-home-topbox-1.jpg', srcset='/it/images/lg/slide-home-topbox-1.jpg', alt='Slide_Home_TopBox_1')
          .container-fluid
            .caption
              .slider-title
                h2.lora.italic
                  a(href='https://youtu.be/feh88-h030M') /Vestiamo  
              .slider-subtitle
                h2.upper
                  a(href='https://youtu.be/feh88-h030M') i migliori ambienti 
              .slider-desc
                h2.upper.bold
                  a(href='https://youtu.be/feh88-h030M') DAL 1963
        .slick-slide
          picture
            source(src='/it/images/lg/slide-home-stile-2016.jpg', srcset='/it/images/lg/slide-home-stile-2016.jpg', media='(min-width: 1200px)')
            source(src='/it/images/lg/slide-home-stile-2016.jpg', srcset='/it/images/lg/slide-home-stile-2016.jpg', media='(min-width: 992px)')
            source(src='/it/images/lg/slide-home-stile-2016.jpg', srcset='/it/images/lg/slide-home-stile-2016.jpg', media='(min-width: 768px)')
            source(src='/it/images/lg/slide-home-stile-2016.jpg', srcset='/it/images/lg/slide-home-stile-2016.jpg', media='(max-width: 767px)')
            img.img-responsive(src='/it/images/lg/slide-home-stile-2016.jpg', srcset='/it/images/lg/slide-home-stile-2016.jpg', alt='Bastone decorativo')
          .container-fluid
            .caption
              .slider-title
                h2.lora.italic
              .slider-subtitle
                h2.upper
              .slider-desc
                h2.upper.bold
        .slick-slide
          picture
            source(src='/it/images/lg/slide-home-lux-2016.jpg', srcset='/it/images/lg/slide-home-lux-2016.jpg', media='(min-width: 1200px)')
            source(src='/it/images/lg/slide-home-lux-2016.jpg', srcset='/it/images/lg/slide-home-lux-2016.jpg', media='(min-width: 992px)')
            source(src='/it/images/lg/slide-home-lux-2016.jpg', srcset='/it/images/lg/slide-home-lux-2016.jpg', media='(min-width: 768px)')
            source(src='/it/images/lg/slide-home-lux-2016.jpg', srcset='/it/images/lg/slide-home-lux-2016.jpg', media='(max-width: 767px)')
            img.img-responsive(src='/it/images/lg/slide-home-lux-2016.jpg', srcset='/it/images/lg/slide-home-lux-2016.jpg', alt='Bastone ottone')
          .container-fluid
            .caption
              .slider-title
                h2.lora.italic
              .slider-subtitle
                h2.upper
              .slider-desc
                h2.upper.bold
        .slick-slide
          picture
            source(src='/it/images/lg/slide-home-topbox1.jpg', srcset='/it/images/lg/slide-home-topbox1.jpg', media='(min-width: 1200px)')
            source(src='/it/images/lg/slide-home-topbox1.jpg', srcset='/it/images/lg/slide-home-topbox1.jpg', media='(min-width: 992px)')
            source(src='/it/images/lg/slide-home-topbox1.jpg', srcset='/it/images/lg/slide-home-topbox1.jpg', media='(min-width: 768px)')
            source(src='/it/images/lg/slide-home-topbox1.jpg', srcset='/it/images/lg/slide-home-topbox1.jpg', media='(max-width: 767px)')
            img.img-responsive(src='/it/images/lg/slide-home-topbox1.jpg', srcset='/it/images/lg/slide-home-topbox1.jpg', alt='slide-home-topbox1.jpg')
          .container-fluid
            .caption
              .slider-title
                h2.lora.italic
              .slider-subtitle
                h2.upper
              .slider-desc
                h2.upper.bold
        .slick-slide
          picture
            source(src='/it/images/lg/slide-home-tessuto6.jpg', srcset='/it/images/lg/slide-home-tessuto6.jpg', media='(min-width: 1200px)')
            source(src='/it/images/lg/slide-home-tessuto6.jpg', srcset='/it/images/lg/slide-home-tessuto6.jpg', media='(min-width: 992px)')
            source(src='/it/images/lg/slide-home-tessuto6.jpg', srcset='/it/images/lg/slide-home-tessuto6.jpg', media='(min-width: 768px)')
            source(src='/it/images/lg/slide-home-tessuto6.jpg', srcset='/it/images/lg/slide-home-tessuto6.jpg', media='(max-width: 767px)')
            img.img-responsive(src='/it/images/lg/slide-home-tessuto6.jpg', srcset='/it/images/lg/slide-home-tessuto6.jpg', alt='slide-home-tessuto6.jpg')
          .container-fluid
            .caption
              .slider-title
                h2.lora.italic /che salga o che scenda
              .slider-subtitle
                h2.upper un tessuto Mottura
              .slider-desc
                h2.upper.bold è sempre al top
        .slick-slide
          picture
            source(src='/it/images/lg/slide-home-mumac.jpg', srcset='/it/images/lg/slide-home-mumac.jpg', media='(min-width: 1200px)')
            source(src='/it/images/lg/slide-home-mumac.jpg', srcset='/it/images/lg/slide-home-mumac.jpg', media='(min-width: 992px)')
            source(src='/it/images/lg/slide-home-mumac.jpg', srcset='/it/images/lg/slide-home-mumac.jpg', media='(min-width: 768px)')
            source(src='/it/images/lg/slide-home-mumac.jpg', srcset='/it/images/lg/slide-home-mumac.jpg', media='(max-width: 767px)')
            img.img-responsive(src='/it/images/lg/slide-home-mumac.jpg', srcset='/it/images/lg/slide-home-mumac.jpg', alt='Slide_Home_mumac')
          .container-fluid
            .caption
              .slider-title
                h2.lora.italic
              .slider-subtitle
                h2.upper
              .slider-desc
                h2.upper.bold
      .box
        .title / il nostro segreto
        .content
          | l'
          span.highlights eccellenza
          |  del singolo
          br
          |  e' la chiave per il 
          span.highlights successo del gruppo
      style(type='text/css').
        @media screen and (min-width: 1200px) {
        .banner-1 {
        background: transparent url("/it/images/lg/banner-home-784.jpg") no-repeat scroll center center;
        background-size: cover;
        }
        }
        @media screen and (max-width: 1199px) {
        .banner-1 {
        background: transparent url("/it/images/lg/banner-home-784.jpg") no-repeat scroll center center;
        background-size: cover;
        }
        }
        @media screen and (max-width: 991px) {
        .banner-1 {
        background: transparent url("/it/images/lg/banner-home-784.jpg") no-repeat scroll center center;
        background-size: cover;
        }
        }
        @media screen and (max-width: 767px) {
        .banner-1 {
        background: transparent url("/it/images/lg/banner-home-784.jpg") no-repeat scroll center center;
        background-size: cover;
        }
        }
      .box.image.banner-1(style='background-attachment: fixed;')
        .text.center
          .roboto
            p
              | Un prodotto presente in qualsiasi abitazione di qualsiasi livello da quando esiste il tendaggio è quello che
              | viene genericamente indicato come "bastone per tende" o "scorritenda" o "riloga" o "zineffa" a seconda della latitudine
              | del nostro paese. In pratica ciò che tiene appesa una tenda, in sintesi un "non prodotto", anonimo ed incolore.
              | Oggi questa interpretazione è assolutamente obsoleta; il "sistema per tenda" come attualmente viene definito
              | nel settore questo complemento d'arredo, ha acquisito una valenza completamente diversa sia sotto l'aspetto estetico
              | sia sotto quello funzionale. In una parola, è passato dal backstage al palcoscenico.
          div
            a(href='/despre-noi') scopri di più sulla nostra storia
      style(type='text/css').
        @media screen and (min-width: 1200px) {
        .banner-2 {
        background: transparent url("/it/images/lg/today-tecnology-3.png") no-repeat scroll center center;
        background-size: cover;
        }
        }
        @media screen and (max-width: 1199px) {
        .banner-2 {
        background: transparent url("/it/images/lg/today-tecnology-3.png") no-repeat scroll center center;
        background-size: cover;
        }
        }
        @media screen and (max-width: 991px) {
        .banner-2 {
        background: transparent url("/it/images/lg/today-tecnology-3.png") no-repeat scroll center center;
        background-size: cover;
        }
        }
        @media screen and (max-width: 767px) {
        .banner-2 {
        background: transparent url("/it/images/lg/today-tecnology-3.png") no-repeat scroll center center;
        background-size: cover;
        }
        }
      .banner.banner-2(style='height: 515px; position: relative; top: -115px; margin-bottom: -115px; background-position: center 0%; background-size: cover;')
        .text-content
          .text LA TECNOLOGIA DI OGGI
          .subtext la creatività di sempre

    include includes/footer.jade