doctype html
html(lang='ro')
  include includes/head.jade
  body.it.layout-15.page-27
    include includes/top-menu.jade

    .container-fluid.mottura-point
      .container.page
        .row
          .container.searchMap
            .col-xs-16.col-sm-10.col-sm-offset-3
              .mostsearched.roboto / LOCAȚII MOTTURA
              .searchMap
                input#search-point.inputsearch.pt-serif(type='text', placeholder='search', autocomplete='off')
                input.submitsearch.pt-serif(type='submit', value='GO >')
              .mtSearchMini.marker.montserrat
                span#current-location
                  i.fa.fa-map-marker.fa-2x
                  |  Folosește poziția curentă
              .mtSearchMini.lookingfor.montserrat
                | Căutare locație Mottura
        .row(style='margin-bottom:30px')
          .container
            .col-xs-16.col-sm-10.col-sm-offset-3.googlemap.montserrat
              #map-mottura-point(style='position: relative; overflow: hidden;')

    include includes/footer.jade