doctype html
html(lang='ro')
    include includes/head.jade
    body.it.layout-1.page-66
        include includes/top-menu.jade

        .sub-menu(style="overflow: hidden")
            i.fa.fa-bars(style="overflow: hidden")

        style(type='text/css').
            .img-with-text {
                text-align: center;
                margin: 0 80px 0 80px;
                float: left;
                opacity: 0.7;                                
            }
            .img-with-text:hover {
                opacity: 1;
            }            
            .img-with-text img {
                display: block;
                margin: 0 auto;
                height: 200px;
            }
            .img-with-text p {
                margin-top: 20px;
                font-family: 'Lora', serif;
                font-style: italic;
                font-size: 32px;               
            }
            .background {
                background: transparent url(/it/images/lg/wavecut.png) repeat scroll top left;
            }
            @media screen and (max-width: 600px) {
                .img-with-text {
                    margin: 0 5% 0 5%;
                }
                .img-with-text img {
                    width: 70% !important;
                    height: auto;
                }
            }

        .box.image.center-table.page-child.background
            div(style="left: -50%; float: right; position: relative")
                div(style="left: 50%; position: relative")
                    each p in partners
                        .img-with-text                        
                            a(href=p.url, target="_blank")
                                img(src=p.logo)
                                p #{p.name}

        include includes/footer.jade