doctype html
html(lang='ro')
    include includes/head.jade
    body.it.layout-1.page-66
        include includes/top-menu.jade

        .box.image.center-table.page-child-romania.page-child
            .center-cell
                .text.center-content
                    .row
                        .col-sm-10.padding-w40
                            h1.h1 Produse
                            h2.h2
                                a(href='/produse-ro', style="font-family: 'Lora', serif;font-style: italic;") Asamblate în România
                            br
                            p
                                | LA COMANDĂ, TERMEN DE LIVRARE 2 ZILE
                            div
                                a(href='/produse-ro') mai multe detalii
                        .page-child-box.col-sm-6(style='background-position: right bottom; background-size: auto; height: 230px;')

        .box.image.center-table.page-child-italia.page-child
            .center-cell
                .text.center-content
                    .row
                        .col-sm-10.padding-w40
                            h1.h1 Produse
                            h2.h2
                                a(href='http://www.mottura.com/en/products', style="font-family: 'Lora', serif;font-style: italic;", target='_blank') Asamblate în Italia
                            br
                            p
                                | LA COMANDĂ, TERMEN DE LIVRARE 30 ZILE
                            div
                                a(href='http://www.mottura.com/en/products', target='_blank') mai multe detalii
                        .page-child-box.col-sm-6(style='background-position: right bottom; background-size: auto; height: 230px;')

        include includes/footer.jade