.page-child-modulo-105 {
    background: transparent url("/it/images/lg/header-modulo105-2.jpg") no-repeat scroll center center;
    background-size: cover;
}

.page-child-box-modulo-105 {
    background: transparent url("/it/images/lg/box-modulo105.jpg") no-repeat scroll center center;
    background-size: cover;
}

.page-child-modulo-205 {
    background: transparent url("/it/images/lg/header-modulo205.jpg") no-repeat scroll center center;
    background-size: cover;
}

.page-child-box-modulo-205 {
    background: transparent url("/it/images/lg/box-modulo205.jpg") no-repeat scroll center center;
    background-size: cover;
}

.page-child-surf-311 {
    background: transparent url("/it/images/lg/header-surf311-312.jpg") no-repeat scroll center center;
    background-size: cover;
}

.page-child-box-surf-311 {
    background: transparent url("/it/images/lg/box-surf311-322.jpg") no-repeat scroll center center;
    background-size: cover;
}

.page-child-surf-324 {
    background: transparent url("/it/images/lg/header-surf324.jpg") no-repeat scroll center center;
    background-size: cover;
}

.page-child-box-surf-324 {
    background: transparent url("/it/images/lg/box-surf324.jpg") no-repeat scroll center center;
    background-size: cover;
}

.page-child-arco-470 {
    background: transparent url("/it/images/lg/header-arco470-1.jpg") no-repeat scroll center center;
    background-size: cover;
}

.page-child-box-arco-470 {
    background: transparent url("/it/images/lg/box-arco470.jpg") no-repeat scroll center center;
    background-size: cover;
}

.page-child-separe-459 {
    background: transparent url("/it/images/lg/header-separe459.jpg") no-repeat scroll center center;
    background-size: cover;
}

.page-child-box-separe-459 {
    background: transparent url("/it/images/lg/box-separe459.jpg") no-repeat scroll center center;
    background-size: cover;
}

.page-child-sidewinder-8240 {
    background: transparent url("/it/images/lg/header-sidewinder8240-8273.jpg") no-repeat scroll center center;
    background-size: cover;
}

.page-child-romania {
    background: transparent url("/it/images/lg/header-categoria-sistemi-pr.jpg") no-repeat scroll center center;
    background-size: cover;
}

.page-child-italia {
    background: transparent url("/it/images/lg/header-categoria-sistemi-de.jpg") no-repeat scroll center center;
    background-size: cover;
}

.page-child-box-sidewinder-8240 {
    background: transparent url("/it/images/lg/box-sidewinder8240-8273.jpg") no-repeat scroll center center;
    background-size: cover;
}

.page-child-sidewinder-8220 {
    background: transparent url("/it/images/lg/header-sidewinder-8220.jpg") no-repeat scroll center center;
    background-size: cover;
}

.page-child-box-sidewinder-8220 {
    background: transparent url("/it/images/lg/box-sidewinder8220.jpg") no-repeat scroll center center;
    background-size: cover;
}

.page-child-basic-441 {
    background: transparent url("/it/images/lg/header-basic441.jpg") no-repeat scroll center center;
    background-size: cover;
}

.page-child-box-basic-441 {
    background: transparent url("/it/images/lg/box-basic441.jpg") no-repeat scroll center center;
    background-size: cover;
}